{% extends 'base.html.twig' %}

{% block title %}Create Shop{% endblock %}

{% block body %}
    <h1>Create a new Shop</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
    
    <a href="{{ path('myshop') }}">Back to My Shop</a>
{% endblock %}
