* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Modern and clean font */
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 60px; /* Make space for the fixed navbar */
}
/* Footer Styles */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}