<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Symfony Shop{% endblock %}</title>

    <!-- Include Navbar CSS -->
    <link rel="stylesheet" href="{{ asset('assets/styles/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/styles/about.css') }}">

    {% block stylesheets %}

    {% endblock %}
</head>
<body>
    {% include 'components/navbar.html.twig' %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer class="footer">
        <p>&copy; 2024 'VisualCraft' Shop. All rights reserved.</p>
    </footer>

    <script src="{{ asset('build/scripts.js') }}"></script>
</body>
</html>
